<h1>Videos</h1>

{% for video in videos %}

    <h3>{{ video.title }}</h3>

    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/{{ video.youtube_id }}"
        title="{{ video.title }}"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="stru-origin-when-cross-origin"
        allowfullscreen>
    </iframe>

    <p>ID: {{video.youtube_id}}</p>



    <p>{{ video.title }}</p>
    <p>{{ video.youtube_url }}</p>
    <hr>

{% endfor %}